.portfolio,
.projects,
.project {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-15);
}

.projects {
  list-style: none;
}

.heading {
  font-size: var(--font-size-large);
}

.title {
  font-size: var(--font-size-medium);
}

.link {
  display: flex;
  gap: var(--spacing-5);
  width: fit-content;
}

.link:link,
.link:visited {
  color: var(--link-color);
  text-decoration: none;
  font-weight: var(--font-weight-light-bold);
}

.link:hover,
.link:active {
  color: var(--link-color-active);
}

.project {
  gap: var(--spacing-3);
  max-width: 25%;
  /* border: 2px solid black; */
  /* border-radius: var(--border-radius-10); */
  /* padding: var(--spacing-10); */
}
