.wrapper {
  max-width: 25%;
}

.wrapper,
.group {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-10);
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-15);
}

.group {
  gap: var(--spacing-5);
}

.group.third {
  grid-column: 1 / -1;
}

.title {
  font-size: var(--font-size-large);
}

.form {
  width: 100%;
}

.field {
  border: 2px solid var(--skeleton-color);
  padding: var(--spacing-10);
  resize: none;
}

.field,
.submit {
  border-radius: var(--border-radius-5);
}

.submit {
  border: none;
  padding: var(--spacing-10) var(--spacing-15);
  display: flex;
  gap: var(--spacing-5);
  align-items: center;
  font-weight: var(--font-weight-light-bold);
}
