.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation,
.links {
  display: flex;
}

.links {
  list-style: none;
  font-size: var(--font-size-medium);
}

.link:link,
.link:visited {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: var(--link-color-active);
}
