:root {
  --font-stack: "Reddit Sans", "Arial", "Helvetica", sans-serif;
  --font-size-default: 1rem;
  --font-weight-normal: 400;
  --font-weight-light-bold: 500;
  --font-size-medium: 1.3rem;
  --font-size-large: 2rem;
  --link-color: hsl(220deg 100% 40%);
  --highlight: hsl(220deg 100% 30%);
  --link-color-active: hsl(220deg 100% 50%);
  --skeleton-color: hsl(220deg 5% 85%);
  --skeleton-color-2: hsl(220deg 5% 95%);
  --border-radius-5: 5px;
  --border-radius-10: 10px;
  --spacing-3: 3px;
  --spacing-5: 5px;
  --spacing-10: 10px;
  --spacing-15: 15px;
  --spacing-25: 25px;
  --spacing-50: 50px;
  --animation-duration-enter: 750ms;
  --animation-duration-exit: 250ms;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-stack);
  font-size: var(--font-size-default);
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
  width: 100%;
  padding: var(--spacing-10);
}

/*  -- Heading reset -- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-size-default);
}
